[SddmGreeterTheme]
Name=jangada
Description=Tela de login do jangada, no estilo do menu (fuzzel)
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=jangada
Theme-API=2.0
QtVersion=6
